@font-face {
  font-family: 'Rounded Elegance Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Rounded Elegance Regular'), url('Rounded_Elegance.woff') format('woff');
}

/* Background */
.green {
  color: #33AE3D;
}
.black {
  color: #111111;
}

/* Text */
.white {
  color: #FFFFFF;
}

/* Icon */
.yellow {
  color: #FCFF22;
}
